* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  background: #111;
  min-height: 100vh;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* NAV DI TENGAH */
.nav-center {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 30px;

  padding: 12px 30px;
  border-radius: 25px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);

  font-weight: 500;
}

/* SEARCH BOX KANAN */
.search-box {
  position: absolute;
  top: 30px;
  right: 30px;

  width: 70px;
  height: 70px;

  background: #e6e3df;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
}

/* TEXT */
.overlay-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* INI KUNCI */

  padding: 40px 60px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);

  text-align: center; /* biar teks rata tengah */
}
.overlay-box h1 {
  color: white;
  font-size: 52px;
  letter-spacing: 3px;
  font-weight: 600;
}

.overlay-box h1 {
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
}

/* BOTTOM SHAPE */
.bottom-box {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 220px;
  height: 120px;

  background: rgba(255, 255, 255, 0.2);
  border-top-right-radius: 50px;

  backdrop-filter: blur(10px);
}
/* DEFAULT */
.nav-center span {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 20px;

  transition: all 0.3s ease;
}

/* HOVER */
.nav-center span:hover {
  background: rgba(0, 0, 0, 0.7); /* gelap */
  color: white;

  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
/* SEMUA NAV ITEM */
.nav-center span {
  cursor: pointer;
  padding: 8px 18px;
  border-radius: 20px;

  transition: all 0.3s ease;
}

/* HOVER GLOBAL */
.nav-center span:hover {
  background: rgba(0, 0, 0, 0.7);
  color: white;

  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 6px 18px rgba(0,0,0,0.3);
}
.nav-center span {
  position: relative;
}

/* garis animasi */
.nav-center span::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;

  width: 0%;
  height: 2px;
  background: white;

  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-center span:hover::after {
  width: 60%;
}
.login-btn {
  background: rgba(255,255,255,0.3);
}

.login-btn:hover {
  background: black;
  color: white;
}
.nav-center span {
  cursor: pointer;
}